
.div1 h1{
    background-color: rgb(255, 221, 0);
    text-align: center;
}
.div2 h1{
    background-color: rgb(255, 0, 0);
}
h2{
    color: crimson;
}
.s1 h2{
    background-color: orangered;
}

tt{
    font-size: 20%;
    text-align: center;
    background-color: aquamarine;
}

.menu {
    display: flex;
    flex-direction: row;
    list-style: none;
}
.menu li{
    margin: auto;
}

.content {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100vh;
}

.content div{
    height: 25vh;
    width: 25%;
    border: 5px solid rgb(163, 228, 52);
}
.content img{
    width: 100%;
    height: 100%;
}


a:hover{
    font-size: larger;
    color: red;      
}

@media screen and (max-width: 600px) {
    body{
        background-color: blue;
    }
}

footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}
